<!DOCTYPE html>
<html>

<head>
    <title>first page</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>

    <div class="main-content">
        {{>header}}
        <h1>{{title}}</h1>
        <p>this site was created by Viet. it uses data from mapbox.com and weatherstack.net</p>
        <img class="portrait" src="subject2.jpg" />
        <p>create by {{name}}</p>
    </div>

    {{>footer}}
</body>

</html>